.radio-btns label {
  font-size: 14px;
  vertical-align: text-top;
  margin: 0;
}
/*start-checkbox*/
.checkbox {
	padding-left: 25px;
	color: #B6B6B6;
	cursor: pointer;
	position:relative;
	font-size:12px;
}
 .checkbox:last-child {
	margin-bottom: 0;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox i {
	position: absolute;
	bottom: 7px;
	left: 0px;
	display: block;
	width: 19px;
	height: 20px;
	outline: none;
  border: 3px solid #DF1E1C;
  background: #fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick-mark1.png") no-repeat center;
	top: -6px;
	left: 0px;
	width: 18px;
	height: 18px;
	text-align: center;
}
.form-elements li:nth-child(2) {
	margin-left: 18px;
	width: 37%;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.checkbox input:checked + i {
  border: 3px solid #DF1E1C;
  background: #fff;
}
.radio,.radio1,.radio2,.radio3 {
	position: relative;
	display:inline-block;
	margin-left:15px;
}
.radio:first-child,.radio1:first-child ,.radio2:first-child,.radio3:first-child{
	margin-left: 0;
	margin: 0;
}
.radio ,.radio1,.radio2 ,.radio3{
	padding-left:20px;
	line-height: 25px;
	color: #404040;
	cursor: pointer;
}
.radio  input[type="radio"],.radio1  input[type="radio"],.radio2  input[type="radio"],.radio3  input[type="radio"]{
	position: absolute;
	left: -9999px;
}
.radio-btns label {
  font-size: 14px;
  color: #A5A5A5;
  padding: 0px 0 0 2px;
  }
.radio i,.radio1 i,.radio2 i,.radio3 i  {
	position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 12px;
    height: 12px;
    outline: none;
    border: 3px solid #ff7700;
    background: #fff;
    cursor: pointer;
    border-radius: 100%;
}

.radio input + i:after,.radio1 input + i:after ,.radio2 input + i:after,.radio3 input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
 .radio input + i:after, .radio1 input + i:after , .radio2 input + i:after, .radio3 input + i:after{
	content: '';
	top: 6px;
	left: 7px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.radio input:checked + i:after,.radio1 input:checked + i:after,.radio2 input:checked + i:after,.radio3 input:checked + i:after{
	opacity: 1;
}
.check_box {
    float: left;
    width: 23%;
}
.check_box_one {
    float: left;
    width: 31%;
}
/*** normal state ***/
.radio i ,.radio1 i,.radio2 i ,.radio3 i {
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
/*** checked state ***/
.radio input + i:after,.radio1 input + i:after,.radio2 input + i:after,.radio3 input + i:after {
    content: '';
    background: url("../images/tick-mark1.png") no-repeat -1px -1px;
    top: 3px;
    left: 3px;
    width: 6.5px;
    height: 6px;
    text-align: center;
    border-radius: 100%;
}
.radio input:checked + i ,.radio1 input:checked + i,.radio2 input:checked + i ,.radio3 input:checked + i{
  border: 3px solid #ff7700;
  background: #fff;
}
.swit {
    margin-bottom: 30px;
}
span.starRating {
    margin: 5px 0 30px;
}

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../images/star-off.png');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../images/star-on.png');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}



